.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
*.md
venv
.venv
.env
.vercel
*zip
previewsbridge_ide/Lib/
bridge_ide/Lib/ 
bridge_ide/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
EOF
